<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzo2o.health.mapper.ReservationSettingMapper">
    <update id="updateByDate">
        update reservation_setting set number = #{number} where DATE_FORMAT(order_date,'%Y-%m-%d')=#{orderDate};
    </update>


    <select id="selectByMonth" resultType="com.jzo2o.health.model.dto.response.ReservationSettingResDTO">
        select order_date AS date,number,reservations from reservation_setting where DATE_FORMAT(order_date,'%Y-%m')=#{date};
    </select>

</mapper>
